NODE_ENV=development
PORT=5000

#mongodb configaration
MONGO_URI=mongo_url
MONGO_DB_NAME=mongo_db

#POSTGRES CONFIGARATION
PG_HOST=localhost
PG_PORT=5433    
PG_DATABASE=pg_database
PG_USER=pg_user
PG_PASSWORD=pg_password

#rabbitmq configuration
RABBITMQ_URL=rabbitmq_url
RABBITMQ_QUEUE=rabbitmq_queue

#jwt cconfigaration
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=24h

#API KEYS(comma-separated for initsial setup)
VALID_API_KEYS=valid_api_key

#rate limiting
RATE_LIMIT_WINDOW_MS=60000 # 1 hour
RATE_LIMIT_MAX_REQUESTS=100 # 100 requests per window per IP\